corpus/*.html -text
archive/*.html -text
libraries/*.html -text
folio/*.html -text
strip/*.html -text
nested/*.html -text
nests/*.html -text
qdot/*.html -text
dots/*.html -text
next/*.html -text
plank/*.html -text
